body {
  background: #fff;
}

.bg-img {
  background-image: url(/docs/assets/BG-crop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
}
h3 > span,
.icon > fa {
  color: #dc3545;
}

/* .ul-footer {
  display: flex;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.ul-footer li {
  list-style: none;
}

.ul-footer li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.ul-footer li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.ul-footer li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.ul-footer li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.ul-footer li a:hover:before {
  top: 0;
}

.ul-footer li:nth-child(1) a:before {
  background: #3b5999;
}

.ul-footer li:nth-child(2) a:before {
  background: #55acee;
}

.ul-footer li:nth-child(3) a:before {
  background: #0077b5;
}

.ul-footer li:nth-child(4) a:before {
  background: #dd4b39;
} */
